body {
  overflow-x: hidden;
}
.container {
  margin: 0;
}
.row {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s alternate infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
  margin-bottom: 100px;
}
nav ul {
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  padding: 10px;
}

nav a:hover {
  border-radius: 5px;
  background-color: #46107657;
  color: rgb(48, 19, 35);
}

nav ul li a {
  margin-bottom: 20px;
  color: white;
  text-decoration: none;
}
.about{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 20px;
  padding-left: 50px;
}
  
.about>img{
  position: relative;
  z-index: 1;
  animation: ab 6s  linear infinite;
  max-width: 50%; 
  height: auto; 
}
@keyframes ab {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  
}
}
.info {
  font-size: medium;
  align-items: center;
  justify-content: center;
  height: 120%;
  width: 100%;
  border-color:#ab23d554;
  border-style: ridge;
  display: flex;
border-radius: 10px;

}
.write{
  position: relative;
  left: 44px;
}
.write>h3{
  color: #d5b723;
}
.write>h1{
  color: #5f2b7d;
}
.info > div {
  margin: 10px;
  flex: 1;
}
.about .fixed-image {
  position: absolute;
  transform: translate(-10%,-20%);
  
}
.about .image-container {
  position: relative;
}

.about .animated-image {
  position: relative;
  left: -17%;
  z-index: -1;
  animation: ab 10s linear infinite;
}
.skills{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
 margin-left: 10px;
 margin-top: 10px;
  
}
.all{
  border-radius: 10px;
  background-color: #46107657;
  padding: 30px;
  margin: 10px;
}
h2{
  text-align: center;
  color: #4610769d;
  font-size: 3em;
}
.all:nth-child(1),.all:nth-child(3){
  transform: translatey(20%);
}
@media (max-width: 500px) {
  .skills {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
  }
}
@media only screen and (max-width: 900px) {
  .container {
    max-width: 100%;
  }
  * {
    box-sizing: border-box;
  }
  body{
  }
  nav ul {
    flex-direction: column;
  }

  nav li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
 .skills{flex-direction: column;
    align-items: center;
   width: 100vw;

}
.all:nth-child(1),.all:nth-child(3){
  transform: translatey(0%);
}
}

h2{
  margin-top: 60px;
  font-size: 3em;
}
.c1{
 
  border-color:#ab23d554;
  border-style: ridge;
  display: flex;
 margin-top: 10px;
 margin-left: 25px;
}

.CV{
  margin-top: 20px;
  background-color: #914caf;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.CV:hover {
  background-color: #d99fdf}
  .info:hover{
    background-color: #c099e257;
  }



