body {
  overflow-x: hidden;
}
.container {
  margin: 0;
}
.row {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s alternate infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
  margin-bottom: 100px;
}
nav ul {
  text-align: left;
  margin: 0;
  padding: 0;
}

nav li {
  padding: 10px;
  display: inline-block;
}

nav a:hover {
  border-radius: 5px;
  background-color: #46107657;
  color: rgb(48, 19, 35);
}

nav ul li a {
  margin-bottom: 20px;
  color: white;
  text-decoration: none;
}
.about{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 20px;
  padding-left: 50px;
}
  
.about>img{
  position: relative;
  z-index: 1;
  animation: ab 6s  linear infinite;
  max-width: 50%; 
  height: auto; 
}
@keyframes ab {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  
}
}
.info {
  font-size: medium;
  align-items: center;
  justify-content: center;
  height: 120%;
  width: 100%;
  border-color:#d5b723;
  border-style: ridge;
  display: flex;
border-radius: 10px;

}
.write>h2{
  color: #d5b723;
}
.write>h1{
  color: #5f2b7d;
}
.info > div {
  margin: 10px;
  flex: 1;
}
.about .fixed-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
.about .image-container {
  position: relative;
}

.about .animated-image {
  position: relative;
  z-index: -1;
  animation: ab 10s linear infinite;
}